body{
  background-color: #eee;
  font-family: Kabel;
}
.logo{
  width:60vw;
}
#page-wrapper{
  position: relative;
}
nav {
  display: block;
  position:fixed;
  top:0;
  width:100%;
  flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  
}
nav ul{
  float: right;
  maright-right:2em;
}
nav li{
  display: inline;
  padding: 1em;
  display: inline-block;
}
@media(max-width; 500px){
  h1{
    font-size:1.25em;
  }
}
.menu-container {
  /* ... */
  display: flex;
}
nav>ul{
  width: 35vw;
  display:flex; 
  flex-direction:row;
  justify-content: space-around;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}